In [90]:
#import libraries
import pandas as pd
import numpy as np
from nltk.stem import WordNetLemmatizer 
from textblob import TextBlob, Word
Data = pd.read_csv("Clean.csv")

In [91]:
#view first 5 rows
Data.head()

,Unnamed: 0,Desc,L0,Feature
0,0,(DO NOT USE)INSTRUMENT-TUBING,Electrical & Instrumentation,instrument tubing
1,1,(DO NOT USE)INSTRUMENT-FITTINGS,Electrical & Instrumentation,instrument fittings
2,2,(DO NOT USE)INSTRUMENT-TUBING,Electrical & Instrumentation,instrument tubing
3,3,(DO NOT USE)INSTRUMENT-TUBING,Electrical & Instrumentation,instrument tubing
4,4,INSTRUMENT & UTILITY GAS SYSTEMS,Electrical & Instrumentation,instrument utility gas systems

In [92]:
#view first 5 rows of feature column
Data['Feature'].head()

0                 instrument tubing
1               instrument fittings
2                 instrument tubing
3                 instrument tubing
4    instrument utility gas systems
Name: Feature, dtype: object

In [93]:
#import nltk for tokenize and lemmatize function
import nltk

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    return " ".join([lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)])

In [94]:
Data['Feature_Lematized'] = Data['Feature'].astype(str).apply(lemmatize_text)

In [95]:
Data['Feature_Lematized'].head()

0                instrument tubing
1               instrument fitting
2                instrument tubing
3                instrument tubing
4    instrument utility gas system
Name: Feature_Lematized, dtype: object

In [96]:
Words = Data['Feature_Lematized'].str.split(expand=True).stack()

In [97]:
Words.head()

0  0    instrument
   1        tubing
1  0    instrument
   1       fitting
2  0    instrument
dtype: object

In [98]:
Words_Table = pd.DataFrame({'Sentences': Words.index.get_level_values(0)+1,
                           'Word': Words.values})

In [99]:
Words_Table.head()

   Sentences        Word
0          1  instrument
1          1      tubing
2          2  instrument
3          2     fitting
4          3  instrument

In [68]:
Word= pd.DataFrame(Words_Table.to_csv('Glossary.csv'))